#map{
    height: 70vh;
    width: 80%;
}
footer{
    background-color: #009FE3 !important;
}
nav{
    border-bottom: 2px solid #009FE3;
    border-bottom-color: #009FE3 !important;
}
.logout{
    color: #009FE3 !important;
}
.navcolor{
    color: black !important;
}
.navbar-nav{
    margin-left: 5rem;
}
@media screen and (max-width: 992px){
    .navcolor{
        text-align: left;
    }
    .form-logout{
        display: flex !important;
        justify-content: left !important;
    }
}